{{! PDP Mustache template for json2html. Data: Catalog Service GraphQL response. }}
{{#data}}{{#products}}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{metaTitle}}</title>
  {{#metaDescription}}<meta name="description" content="{{metaDescription}}">{{/metaDescription}}
  {{#metaKeyword}}<meta name="keywords" content="{{metaKeyword}}">{{/metaKeyword}}
  {{#externalId}}<meta name="id" content="{{externalId}}">{{/externalId}}
  <meta name="sku" content="{{sku}}">
  {{#__typename}}<meta name="__typename" content="{{__typename}}">{{/__typename}}
  {{#images}}<meta property="og:image" content="{{images.0.url}}">{{/images}}
  <meta property="og:type" content="product">
</head>
<body>
  <header></header>
  <main>
    <div>
      <div class="product-details">
        <div>
          <div>
            <h1>{{name}}</h1>
          </div>
        </div>
        {{#images}}
        <div>
          <div><h2>Images</h2></div>
          <div>
            <ul>
              {{#images}}
              <li><img src="{{url}}" alt="{{label}}"></li>
              {{/images}}
            </ul>
          </div>
        </div>
        {{/images}}
        {{#description}}
        <div>
          <div><h2>Description</h2></div>
          <div>{{description}}</div>
        </div>
        {{/description}}
        {{#priceRange}}
        <div>
          <div><h2>Price</h2></div>
          <div>{{#minimum}}{{#final}}{{#amount}}{{value}} {{currency}}{{/amount}}{{/final}}{{/minimum}}</div>
        </div>
        {{/priceRange}}
        {{#price}}
        <div>
          <div><h2>Price</h2></div>
          <div>{{#final}}{{#amount}}{{value}} {{currency}}{{/amount}}{{/final}}</div>
        </div>
        {{/price}}
        {{#options}}
        <div>
          <div><h2>Options</h2></div>
          <div>
            <ul>
              <li>
                <h3>{{title}}</h3>
                option id <em>{{id}}</em>
                required <em>{{required}}</em>
                {{#values}}
                <ul>
                  <li>{{title}}</li>
                </ul>
                {{/values}}
              </li>
            </ul>
          </div>
        </div>
        {{/options}}
      </div>
    </div>
  </main>
  <footer></footer>
</body>
</html>
{{/products}}{{/data}}
