{{#data}}
{{#products}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="og:product">
    <meta name="sku" content="{{sku}}">
    <title>{{name}}</title>
  </head>
  <body>
    <header></header>
    <main>
      <div>
        <div class="product-details">
          <div>{{name}}</div>
          <div>{{description}}</div>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
{{/products}}
{{/data}}
