{{! PDP Mustache template for json2html. https://developer.adobe.com/commerce/webapi/graphql/schema/catalog-service/queries/products/#output-fields
Data: { data: { products: [ ProductView ] } } } }}
{{#data}}
{{#products}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="sku" content="{{sku}}">
    <meta property="og:type" content="product">
    <meta property="og:title" content="{{#metaTitle}}{{metaTitle}}{{/metaTitle}}{{^metaTitle}}{{name}}{{/metaTitle}}">
    <link rel="canonical" href="/products/{{urlKey}}/{{sku}}">
    <meta property="og:url" content="/products/{{urlKey}}/{{sku}}">
    <title>{{#metaTitle}}{{metaTitle}}{{/metaTitle}}{{^metaTitle}}{{name}}{{/metaTitle}}</title>
    {{#metaDescription}}
    <meta name="description" content="{{metaDescription}}">
    <meta property="og:description" content="{{metaDescription}}">
    <meta name="twitter:description" content="{{metaDescription}}">
    {{/metaDescription}}
    {{^metaDescription}}
    {{#shortDescription}}
    <meta name="description" content="{{shortDescription}}">
    <meta property="og:description" content="{{shortDescription}}">
    <meta name="twitter:description" content="{{shortDescription}}">
    {{/shortDescription}}
    {{/metaDescription}}
    {{#metaKeyword}}<meta name="keywords" content="{{metaKeyword}}">{{/metaKeyword}}
    {{#images.0}}<meta property="og:image" content="{{{url}}}">{{#label}}<meta property="og:image:alt" content="{{label}}">{{/label}}{{/images.0}}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{#metaTitle}}{{metaTitle}}{{/metaTitle}}{{^metaTitle}}{{name}}{{/metaTitle}}">
    {{#images.0}}<meta name="twitter:image" content="{{{url}}}">{{/images.0}}
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Product",
        "sku": "{{sku}}",
        "name": "{{name}}",
        "gtin": "TODO",
        {{#metaDescription}}"description": "{{metaDescription}}",{{/metaDescription}}
        {{^metaDescription}}
        {{#shortDescription}}"description": "{{shortDescription}}",{{/shortDescription}}
        {{/metaDescription}}
        "@id": "/products/{{urlKey}}/{{sku}}",
        "image": {{#images.0}}"{{{url}}}"{{/images.0}}{{^images.0}}null{{/images.0}},
        "offers": [
          {
            "@type": "Offer",
            "sku": "{{sku}}",
            "url": "/products/{{urlKey}}/{{sku}}",
            "availability": "{{#inStock}}https://schema.org/InStock{{/inStock}}{{^inStock}}https://schema.org/OutOfStock{{/inStock}}",
            "price": {{#price}}{{#final}}{{#amount}}{{value}}{{/amount}}{{^amount}}null{{/amount}}{{/final}}{{^final}}null{{/final}}{{/price}}{{^price}}{{#priceRange}}{{#minimum}}{{#final}}{{#amount}}{{value}}{{/amount}}{{^amount}}null{{/amount}}{{/final}}{{^final}}null{{/final}}{{/minimum}}{{^minimum}}null{{/minimum}}{{/priceRange}}{{^priceRange}}null{{/priceRange}}{{/price}},
            "priceCurrency": "{{#price}}{{#final}}{{#amount}}{{currency}}{{/amount}}{{^amount}}USD{{/amount}}{{/final}}{{^final}}USD{{/final}}{{/price}}{{^price}}{{#priceRange}}{{#minimum}}{{#final}}{{#amount}}{{currency}}{{/amount}}{{^amount}}USD{{/amount}}{{/final}}{{^final}}USD{{/final}}{{/minimum}}{{/priceRange}}{{^priceRange}}USD{{/priceRange}}{{/price}}",
            "itemCondition": "https://schema.org/NewCondition"
          }
        ]
      }
    </script>
  </head>
  <body>
    <header></header>
    <main>
      <div>
        <div class="product-details">
          <div>
            <div>
              <h1>{{name}}</h1>
            </div>
          </div>
          {{#images.0}}
          <div>
            <img src="{{{url}}}" alt="{{label}}">
          </div>
          {{/images.0}}
          {{#description}}
          <div>
            <div><h2>Description</h2></div>
            <div>{{description}}</div>
          </div>
          {{/description}}
          {{#priceRange}}
          <div>
            <div><h2>Price</h2></div>
            <div>{{#minimum}}{{#final}}{{#amount}}{{value}} {{currency}}{{/amount}}{{/final}}{{/minimum}}</div>
          </div>
          {{/priceRange}}
          {{#price}}
          <div>
            <div><h2>Price</h2></div>
            <div>{{#final}}{{#amount}}{{value}} {{currency}}{{/amount}}{{/final}}</div>
          </div>
          {{/price}}
          {{#options.length}}
          <div>
            <div><h2>Options</h2></div>
            <div>
              <ul>
                {{#options}}
                <li>
                  <h3>{{title}}</h3>
                  option id <em>{{id}}</em>
                  required <em>{{required}}</em>
                  <ul>
                    {{#values}}
                    <li>
                      {{#url}}
                      <a href="{{{url}}}">{{title}} {{#inStock}}in stock{{/inStock}}{{^inStock}}out of stock{{/inStock}}</a>
                      {{/url}}
                      {{^url}}
                      {{title}} {{#inStock}}in stock{{/inStock}}{{^inStock}}out of stock{{/inStock}}
                      {{/url}}
                    </li>
                    {{/values}}
                  </ul>
                </li>
                {{/options}}
              </ul>
            </div>
          </div>
          {{/options.length}}
          {{^options.length}}
          <div>
            <h2>Availability</h2>
            <div>{{#inStock}}in stock{{/inStock}}{{^inStock}}out of stock{{/inStock}}</div>
          </div>
          {{/options.length}}
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
{{/products}}
{{/data}}
